---
---

<div>
  <p>
    <mark><strong>Das zeichnet mich aus:</strong></mark>
  </p>
  <ul class="mt-5">
    <li>schnelle Auffassungsgabe</li>
    <li>Organisationstalent</li>
    <li>lösungs- und umsetzungsorientiertes Vorgehen</li>
    <li>pragmatische und strukturierte Arbeitsweise</li>
    <li>ausgeprägtes konzeptionelles sowie analytisches Denken und Handeln</li>
    <li>mathematisches und technisches Grundverständnis</li>
  </ul>
</div>
