---

---

<div>
    <p class="mt-5">
        <strong><mark>Fachliche Kompetenzen:</mark></strong>
    </p>
    <ul class="mt-5">
        <li><strong>Design:</strong> Logoerstellung, Corporate Design, Buchsatz, Covergestaltung, Mikro- &amp; Makrotypografie, Reinzeichnung, Printproduktion</li>
        <li><strong>Consulting:</strong> Projektplanung, Kundenberatung und -support, Social Media Management</li>
        <li><strong>Sachbearbeitung:</strong> Vorbereitung Buchhaltung, Auftragsverwaltung</li>
        <li><strong>sonstiges:</strong> Bedienung und Wartung div. Maschinen in der Papierproduktion, Grundkenntnisse Interface-Design, Grundkenntnisse Programmierung</li>
    </ul>
    
    <p class="mt-5">
        <strong><mark>Hard- und Software-Kenntnisse:</mark></strong>
    </p>
    <p class="mt-5">
        <ul>
            <li>
                <strong>Profi:</strong> Mac, Adobe Indesign, Google Docs, VersaCommerce, Markdown
            </li>
            <li>
                <strong>sicherer Umgang:</strong> Adobe Photoshop, Adobe Acrobat Pro, Pages, Numbers, Keynote, Wordpress, Shopify, HTML/CSS
            </li>
            <li>
                <strong>gute Basis:</strong> Adobe Illustrator, MS-Office, Webentwicklung
            </li>
        </ul>
    </p>
</div>
