---
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";
---

<PageLayout>
    <PageMeta title={`Skills | ${SITE_TITLE}`} slot="meta" />
    <section slot="main">

        <p class="mt-5">
            <strong><mark>10/2023 bis heute</mark></strong>

            <p>Druckereileitung, Pi Print GmbH<br/>
            <em>Stralsund, Festanstellung</em></p>

            <strong>Hintergrund:</strong>
            <p>Digitaldruck Kruse wurde von der Piehl Investment Gruppe aufgekauft und als Pi Print GmbH weitergeführt. Der Name »Digitaldruck Kruse« ist als Marke innerhalb der GmbH geblieben um der Tradition des seit 1987 bestehenden Unternehmens treu zu bleiben.</p>

            <strong>Aufgaben:</strong>
            <ul>
                <li>kreative Leitung der Marke »Digitaldruck Kruse« im Corporate Design und Kreation eigener Produkte</li>
                <li>Leitung aller Prozesse innerhalb der Druckerei von Auftragsverwaltung, über Produktion bis hin zu Kundenbetreuung</li>
                <li>Qualitätskontrolle und Projektleitung der Eigenmarke <a href="https://nichtsmeeralsdas.de/" target="_blank">nichtsmeeralsdas</a></li>
            </ul>

        </p>

        <p class="mt-5">
            <strong><mark>04/2019 bis 09/2023</mark></strong>

            <p>Inhaberin, Digitaldruck Kruse<br/>
            <em>Stralsund, selbständig</em></p>

            <strong>Aufgaben:</strong>

            <ul>
                <li>Überwachung aller Prozesse</li>
                <li>Auswertung von Verkaufs- und Umsatzzahlen</li>
                <li>Einarbeitung neuer Mitarbeitender und studentische Aushilfskräfte</li>
                <li>Erstellung und regelmäßige Aktualisierung der <a href="https://mv-druck.de">Firmenwebseite inkl. Webshop und Kassensystem</a></li>
                <li>Vorbereitung Buchhaltung, Kassenführung</li>
                <li>Kundenservice, Beschwerdemanagement per Telefon, E-Mail und vor Ort</li>
                <li>Verlagstätigkeit im <a href="https://mv-druck.de/buecher/druck-und-verlagshaus-kruse">Haupt-</a> und <a href="https://mv-druck.de/autor-innen">Nebenverlag</a>, sowie im <a href="https://vorpommersche-verlage.de/">Netzwerk</a> inkl. Erstellung der Webpräsenzen</li>
            </ul>
        </p>

        <p class="mt-5">
            <strong><mark>01/2016–03/2019</mark></strong>

            <p>Unternehmenskommunikation, Digitaldruck Kruse<br/>
            <em>Stralsund, Festanstellung</em></p>

            <strong>Aufgaben:</strong>

            <ul>
                <li>Einarbeitung und Betreuung von Mitarbeitenden</li>
                <li>Vorbereitung und Betreuung von Messeteilnahmen</li>
                <li>Koordination der Buchpremieren der in-house-Publikationen</li>
                <li>Betreuung und Aktualisierung der Firmenwebseite</li>
                <li>Realisierung von Kunden-Webprojekten</li>
                <li>Autorenbetreuung</li>
                <li>Assistenz der Geschäftsführung</li>
            </ul>
        </p>

        <p class="mt-5">
            <strong><mark>10/2010–12/2015</mark></strong>

            <p>Art Direction und Kommunikationsdesign<br/>
            <em>Berlin und Stralsund, selbständig</em></p>

            <strong>Referenzen:</strong>
            <ul>
                <li><a href="https://www.idee3.de/" target="_blank">ideedrei | WEB • CORPORATE • PRINT</a></li>
                <li>Druck- und Verlagshaus Kruse</li>
                <li><a href="https://www.h-sechs.de/" target="_blank">H6 Kommunikationsagentur</a></li>
                <li>DADDY Creative Communications</li>
            </ul>
            
            <strong>Schwerpunkte:</strong>
            
            <ul>
                <li>Corporate Design</li>
                <li>Buchgestaltung, Print</li>
                <li>Screendesign, Hilfe bei Webprojekten</li>
            </ul>
        </p>

        <p class="mt-5">

            <strong><mark>Studium</mark></strong>

            <ul>
                <li>
                    <strong>04/2013–03/2018</strong><br/>
                    <a href="https://www.bht-berlin.de/b-mi-o">Medieninformatik (Online)</a><br/>
                    <em>Beuth Hochschule für Technik Berlin, nebenberuflich</em>
                </li>
                <li>
                    <strong>10/2012–03/2013</strong><br/>
                    <a href="https://www.hochschule-stralsund.de/smib/">Angewandte Informatik – Softwareentwicklung und Medieninformatik</a><br/>
                    <em>Fachhochschule Stralsund, nebenberuflich</em>
                </li>
                <li>
                    <strong>09/2008–08/2011</strong><br/>
                    <a href="https://www.srh-berlin.de/bachelor/studium-kommunikationsdesign-berlin/">Kommunikationsdesign, Abschluss: Bachelor of Arts</a><br/>
                    <em>design akademie berlin (heute srh)</em><br/>
                    <strong>Thema der Abschlussarbeit:</strong><br/>
                    Learn-O-Type – ein App-Konzept zum interaktiven Lernen im Typografie-Alltag
                </li>
            </ul>
        </p>

        <p class="mt-5">
            <strong><mark>Praktika</mark></strong>
            <ul>
                <li><strong>04/2010–09/2010</strong> Kommunikationsdesign (Praxissemester) <em>Research Studios Berlin</em></li>
                <li><strong>04/2008–06/2008</strong> Kommunikationsdesign (Studienvorbereitung) <em>Josetti Höfe Berlin</em></li>
            </ul>
        </p>

        <p class="mt-5">
            <strong><mark>Schulische Ausbildung</mark></strong>
            <ul>
                <li><strong>08/2000–07/2007</strong> Theodor-Fontane-Gymnasium Strausberg, Abschluss: Abitur</li>
                <li><strong>08/1994–07/2000</strong> Grundschule Altlandsberg</li>
            </ul>
        </p>
    </section>
</PageLayout>